body {
    display: flex;
    background-color: rgb(105, 105, 105);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

#center {
    margin: 10% auto;
}

#clock {
    width: 200px;
    height: 35px;
    background-color: rgb(41, 162, 238);
    border-radius: 15px;
    padding: 10px 20px;
}